@mixin flex-box{
    padding: 2rem;
    margin: 1.5rem;
    padding-bottom: 1rem;
    background: rgba(gray,.4);
    
    ul{
        list-style-type: square;
    }
    li{
        text-align: left;
    }
    h3{
        background: gray;
    }

    span{
        color: blue;
    }
    @media screen and (max-width: 800px){
        font-size: .75rem;
    }
}

.about-container {
    padding: 50px;
    background-color: #ffffff;
}


.box {
    left: 50%;
    @media screen and (min-width: 800px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        padding: 2rem;
    }
}

.box-hobbies{
    @include flex-box();
}

.box-programming{
    @include flex-box();
}

//Timeline styling 
@mixin timeline-box{
    @media screen and (max-width:800px){
        width: 75%;
    }
    background-color:var(--blue-text-background);
    color: white;
    background-position:left bottom;
    position: relative;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    display: block;
    &::before {
        content: " ";
        width: 1rem;
        height: 1rem;
        transform: scale(.125);
    }
    &:hover { 
        width: 125%;
        padding: 1rem .25rem;
        font-size: 1.25rem;
        transform: translateX(-10%);
        background-color:var(--blue-text-background-hover);
        background-position:left bottom;
        transition:all 1s ease;
    }
}

.timeline{
    --timeline-length: 15rem;
    --timeline-diff: 3rem;
    --timeline-width: calc(var(--timeline-length) - var(--timeline-diff));
    --timeline-color:orange;
    margin-top: 10rem;
    .first{
        margin: 0;
        width: var(--timeline-length);
        height: var(--timeline-width);
        border-width: 0;
        border-style: dashed;
        border-left-width: .5rem;
        border-color: var(--timeline-color);
        .relative{
            @include timeline-box;
            position: relative;
            padding: 0 0;
            top: -3.5rem;
            left: -5rem;
            border-style: none;
            &:hover {
                transform: translateY(-35%);
            }


        }
    }
    .second{
        margin: 0;
        height: var(--timeline-width);
        width: var(--timeline-length);
        border-width: 0;
        border-style: dashed;
        border-top-width: .5rem;
        border-right-width: .5rem;
        border-color: var(--timeline-color);
        .relative{
            @include timeline-box;
            top: 1rem;
            right: 65%;
            border-style: none;


        }

    }
    .third{
        margin: 0;
        height: var(--timeline-width);
        width: var(--timeline-length);
        border-width: 0;
        border-style: dashed;
        border-top-width: .5rem;
        border-left-width: .5rem;
        border-color: var(--timeline-color);
        .relative{
            @include timeline-box;
            top: 1rem;
            left: 65%;
            border-style: none;
        }
    }
}