.footer {
    display: grid; 
    place-items: center; 
    background-color: var(--primary-text-color);
    color: white; 
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 10rem;

    div {
        text-align: center;
    }
    a {
        color: yellow;

    }
}

.container-relative {
    position: relative;
}
.absolute {
    position: absolute;
    left: 75%;
    top: -10rem;
    object-fit: cover;
    z-index: .5;
    scale: .5;

}