@import "_variables";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: text;
  -ms-user-select: text;
}

body {
  overflow: hidden;
}

p {
  color: #617d98;
  margin: 0;
}

.title-header {
  color: var(--primary-text-color);
  text-align: center;
  padding: 0.25rem;
  margin-top: 3rem;
  font-family: serif;
  font-size: 5rem;
}

.title-header-white {
  color: var(--background-color2);
  text-align: center;
  padding: 0.25rem;
  margin-top: 3rem;
  font-family: serif;
  font-size: 5rem;
}

.responsive {
  display: block;
  position: relative;
  margin-top: 3rem;
  -webkit-transition: width 2s, height 2s, background-color 2s, transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.half {
  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
    padding-left: 4rem;
    width: 50%;
  }
}

.span-text {
  color: var(--highlighted-text);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 2rem;

  &:hover {
    background-color: var(--highlighted-background);
    color: var(--highlighted-text-hover);
    border-radius: 0.5rem;
  }
}

.transition {
  -webkit-transition: width 2s, height 2s, background-color 1s, transform 1s;
  transition: width 2s, height 2s, background-color 1s, transform 1s;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

// Styling for custom button
.custom-btn {
  background-color: var(--blue-text-background);
  color: var(--blue-text);
  border-radius: 0.5rem;
  padding: 0.25rem 1.25rem;
  &:hover {
    background-color: var(--blue-text-background-hover);
    color: var(--blue-text-hover);
  }
  &:active {
    background-color: var(--blue-text-background);
    color: var(--blue-text);
    opacity: 0.5;
  }
}

.bigger-space {
  margin: 0 1.25rem;
}

.justify .left {
  display: flex;
  justify-content: left;
  p {
    justify-content: left;
  }
}
.contact-margin {
  padding: 10rem 0;
}
