/*
=============== 
Variables
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	user-select: none;
}

p {
	color: #617d98;
}

button {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	filter: brightness(-0.4);
}

/*
=============== 
Variables
===============
*/
:root {
	/* Blue Text color */
	--blue-text: rgb(10, 10, 83);
	--blue-text-hover: #bff8fd;
	--blue-text-background: rgba(104, 82, 231, 0.25);
	--blue-text-background-hover: rgba(82, 11, 139, 0.5);
	/* primary color */
	--turquoise: #3f485e;
	--bluish-black: #00040b;
	--lightcyan: #0f8b8d;
	--primary-text-color: #160f29;
	--primary-text-color2: #246a73;
	--background-color: #d4f1f4;
	--background-color2: #e0fcff;
	--background-color3: #368f8b;
	--black-blue: #000814;
	--navy: #001f54;
	--blue: #034078;
	--teal: #1282a2;
	--white: #fefcfb;
	--dim-yellow: #ffc300;
	--yellow: #ffd60a;
	/* secondary color */
	--secondary-color: #ddbea8;
	--secondary-color2: #f3dfc1;
	--secondary-color3: #75e6da;
	/* span text */
	--span-text: orange;
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	/* responsive text colors*/
	--highlighted-text: rgb(153, 197, 22);
	--highlighted-text-hover: rgb(246, 255, 224);
	--highlighted-background: rgba(126, 137, 173, 0.5);
	--clr-black: #222;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font: 112.5%/1.45em georgia, serif, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	margin: 0;
	background-color: var(--bluish-black);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: hsla(0, 0%, 0%, 0.8);
	font-family: "Source Code Pro", georgia, serif;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
	box-sizing: border-box;
}

button {
	font-family: "Source Code Pro";
}

img {
	max-width: 150px;
	height: 5rem;
	padding: 0 15px;
	object-fit: cover;
}
